doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(name="description" content="Simple WorkSpace")
		meta(name="author" content="You")
		title Simple WorkSpace
		link(rel='stylesheet', href='/css/simple.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
	body(id=page)
		block content
		block footer
			script(type="text/javascript" src="/js/simple.js")
			script(type="text/javascript").
				$(document).ready(function() {
					new app.Page.#{page}()
				});