extends ../layout
mixin arrow(name)
	div&attributes(attributes)
		span
		em=name

block content
	.container
		.touch_wrapper
			h1 Touch the screen
			.circle_thin.circle
				.circle_full.circle
		.purchase_process
			header
				.process_arrow_wrapper
					+arrow("Select").arrow_box.active
					+arrow("Summary").arrow_box
					+arrow("Pay").arrow_box
			.content
				.select_page
				.summary_page
				.paying_page
			.sumnmary_costs
			footer