extends ../layout

block content
	div.container
		div.checklist
			h1 Application check
			ul
				li
					-if (page)
						="You are on the " + page + " page"
						i.fa.fa-check
					-else
						="Page has no title! Check the params given /views/index/index.js"
						i.fa.fa-close
				li#jscheck Javascript is not working! Check network tab on the console
					i.fa.fa-close
				li Font awesome status:
					i.fa.fa-dot-circle-o

